 .pr-button
  transition all .2s ease
  font-size 1em
  line-height 1.5em
  padding 10px
  border 0px
  border-radius $pr-radio
  cursor pointer
  position relative
  overflow hidden
  color rgb(255, 255, 255)
  box-sizing border-box
  background transparent