/*
GLOBAL COLORS
*/

$pr-primary = 0, 110, 255
$pr-secondary = 105, 108, 255
$pr-success = 167, 229, 33
$pr-info = 3, 195, 236
$pr-danger = 255, 73, 63
$pr-warning = 255,195,30
$pr-dark = 53, 66, 91
$pr-light = 114, 128, 157


$pr-colors := {
  primary: $pr-primary,
  secondary: $pr-secondary,
  success: $pr-success,
  info: $pr-info,
  danger: $pr-danger,
  warning: $pr-warning,
  dark: $pr-dark,
  light: $pr-light
}
