:root {
  --pr-primary: $pr-colors['primary']
  --pr-secondary: $pr-colors['secondary']
  --pr-success: $pr-colors['success']
  --pr-info: $pr-colors['info']
  --pr-danger: $pr-colors['danger']
  --pr-warning: $pr-colors['warning']
  --pr-dark: $pr-colors['dark']
  --pr-light: $pr-colors['light']
}