/*-----------------
    Global Vars
------------------*/


/* fonts */

$pr-font-family := arial
$pr-font-size := 1rem
$pr-color := 0, 0, 200

/* disabled */

$pr-disabled-opacity := .5
$pr-disabled-pointer := default

/* transition */

$pr-transition-duration := .25s
$pr-transition-delay := 0s
$pr-transition-timing := ease

/*----------------
    COMPONETS
-----------------*/

/*pr-button*/

$pr-button--padding-x := 10px
$pr-button--padding-y := 20px
$pr-button--border-radius := 5px

// global vars --- old

$pr-radio := 6px
$pr-disabled-opacity := .5
$pr-transition := all .25s ease
$pr-border := 1px solid rgba(0, 0, 0, 0.1)
$pr-label-color := rgba(0,0,0,.6)
$pr-box-shadow := 0px 5px 20px 0px rgba(0, 0, 0, 0.05)
$pr-background := rgb(255, 255, 255)

// select vars

$border-color :=  rgb(255, 255, 255)